
body {
    background-color: #57b35d;
}

header h1 {
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
}

.imgCarrinho {
    position: fixed;
    bottom: 30px;
    right: 60px;
}
